<div class="">
	<div id="audioBox">
		<audio id ="myaudio" autoplay playsinline></audio>
	</div>
	<div id="analyserBox">

	</div>
	<div class="page-center" *ngIf="showContent('CenterScreen')">
		<div class="page-center-block" *ngIf="showContent('ScreenStart')">
			<div class="title-s3">
				<h3>--  VoChan  --</h3>
			</div>
			<div class="list-block-s1">
				<p>■Your Name</p>
				<div class="cp_iptxt">
					<input
						type="text"
						placeholder="Ener Your name"
						[(ngModel)]="name" />
					<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
				</div>
			</div>
			<div class="list-block-s1">
				<p>■Room Number ( Blank to create new room )</p>
				<div class="cp_iptxt">
					<input
						type="text"
						placeholder="Enter Room Number"
						[(ngModel)]="roomname" />
					<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
				</div>
			</div>
			<div class="center-button-s" (click)="start()">Start</div>
		</div>
	</div>
	<div class="page-header" [hidden]="showContent('ScreenAudio')">
		<div class="exit-button" (click)="stop()">
			<img src="assets/img/exit.png" alt="End ScreenShare">
		</div>
		<div class="header-status">
			<p>Room</p> <p>{{roomname}}</p>
		</div>
	</div>
	<div class="page-audio" [hidden]="showContent('ScreenAudio')" id="users">
		<!--
		<div class="members" id='users'>
			<ng-container *ngFor="let user of getUsers()">
			<div class="member-detail">
				<p [style.background-color]="user.color">{{user.name}}</p>
			</div>
			<canvas id="analyser{{user.userid}}" height=40></canvas>
			</ng-container>
		</div>
		-->
	</div>
</div>

