
.exit-button {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
    border-radius: 20px;
    cursor: pointer;
}
.exit-button:hover {
	background-color: rgba(200,200,200,1);
}
.exit-button > img {
	display: block;
	position: relative;
	width: 20px;
	margin: 12px auto;
}

.title-s3 {
	text-align: center;
	text-shadow: 0px 0px 10px rgba(250,250,250,1);
	width: 100%;
}


.page-header {
	position: relative;
	margin: 0px auto;
	width: 400px;
	height: 50px;
	background-color: rgba(10,0,50,1);
}

.header-status {
	color: white;
	font-weight: bolder;
	line-height: 1.5em;
	position: relative;
	left: 50%;
	width: 180px;
	height: 40px;
	border-bottom: solid 1px rgba(100,100,150,1);
}

.header-status > p {
	position: relative;
	float: left;
	padding: 0;
}
.header-status > p:first-child {
	width: 50px;
	height: 20px;
	margin: 20px 10px 0 0;
}
.header-status > p:last-child {
	width: 100px;
	height: 20px;
	margin: 20px 10px 0 0;
}

.page-audio {
	position: relative;
	margin: 10px auto;
	width: 400px;
	height: 500px;
	background-color: rgba(10,0,50,1);
}

.members {
	position: relative;
	float: left;
	width: 400px;
	height: 40px;
	margin: 2px 0;
}

.member-detail {
	position: relative;
	float: left;
	width: 80px;
	height: 40px;
	margin: 0 1px;
}
.member-detail > p{
	line-height: 3em;
	text-shadow: 0px 0px 2px rgba(250,250,250,1);
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	width: 80px;
	height: 40px;
	padding: 0;
	margin: 0;
}


.analyser {
	position: absolute;
	top: 200px;
	left: 40%;
	border: solid 1px gray;
}

.page-center {
	position: relative;
	margin: 10% auto;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	box-shadow: 2px 2px 100px rgba(100,100,100,1);
	background-color: rgba(80,80,100,1);
	z-index: 1000;
}

.page-center-block {
	position: absolute;
	top: 50px;
	left: 25px;
	width: 350px;
	height: 200px;
}

.list-block-s1 {
	position: relative;
	width: 250px;
	margin: 0 auto;
}
.list-block-s1 > p {
	color: white;
	font-size: 0.8em;
	height: 10px;
	margin: 0;
	padding: 0;
}
.center-button {
	font-size: 0.9em;
	font-weight: bolder;
	font-style: italic;
	color: rgba(250,250,250,1);
	text-shadow: 0px 0px 3px rgba(50,50,150,1);
    line-height: 2.5em;
	position: relative;
	float: left;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 40px;
    margin: 5px 25px;
    box-shadow: 0px 0px 2px rgba(10,10,250,1);
	border-radius: 20px;
	background-color: rgba(50,50,250,1);	
}
.center-button-s {
	font-size: 1em;
	font-weight: bolder;
	font-style: italic;
	color: rgba(250,250,250,1);
	text-shadow: 0px 0px 3px rgba(50,50,150,1);
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 40px;
    margin: 5px auto;
    box-shadow: 0px 0px 2px rgba(10,10,250,1);
	border-radius: 20px;
	background-color: rgba(50,50,250,1);
}

.center-button-s:hover,
.center-button:hover {
    background-color: rgba(0,0,150,1);
}

.button-close {
	font-weight: bold;
    font-size: 1em;
    line-height: 3em;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
	border-radius: 25px;
	background-color: rgba(250,250,250,1);
}

.button-close {
	position: absolute;
	top: 500px;
	left: 80%;
}
.button-close:hover {
    background-color: rgba(150,150,150,1);
}















.cp_iptxt {
	position: relative;
	width: 90%;
	margin: 10px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
	border-radius: 10px;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #da3c41;
}